* {
font-family:'Courier New', Courier, monospace;
}
#main {
    background-color: gray;
}
h1.especial{
    color:blue;
}
h2,h3{
    border-style: solid;
    border-color: antiquewhite;
}
li {
    color: red;
}
li li {
    color: green;
}
p > img {
    border: 5px solid black;
}
img[width="100 px"]{
    border: 5px solid red;
}
.antes {
    background-color: pink;
}
p + h3 {
    background-color: blue;
}