* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
h1 {
    left: 50px;
    position: relative;
    top: 10px;
    width: 80%;
}
.padre {
    background-color: lightblue;
    height: 200px;
    margin: 20px auto;
    position: relative;
    width: 60%;
}
.padre div {
    position: absolute;
    height: 30px;
    width: 30px;
}
.hijo1 {
    background-color: red;
    left: 100px;
    top: 50px;
    z-index: 2;
}
.hijo2 {
    background-color: chartreuse;
    left: 120px;
    top: 30px;
}
.footer {
    position: fixed;
    background-color: lightgrey;
    width: 100%;
    bottom: 0px;
}