:root {
    --bg-color-container: #cccccc;
    --bg-color: #074619;
    --text-color: #fff;
    --menu-text-color: #8d8a8a;
    --menu-bg-hover-color: #e2dfdf;
    --menu-text-hover-color: #087c29;
    --submenu-text-color: #000;
    --footer-bg-menu-color: #087c29;
   }