html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200%;
}
body{
height: 100%;
}

ul {
    list-style: none;
}

li {
    float: left;
    padding: 15px;
}

body { 
    height: 200%;
}
h1{
    position: fixed;
}
a:hover {
    background-color: green;
}
#absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
